body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f;
    color: white;
}

/* SCROLL SUAVE */
html{
    scroll-behavior: smooth;
}

/* HERO */
.hero{
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
                url('Julien Douvier.gif') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NAV */
nav{
    background: #aa0101;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* ESPACIO PARA SCROLL */
section{
    scroll-margin-top: 80px;
}

/* SECCIONES */
.series, .peliculas{
    padding: 20px;
}

.series h2, .peliculas h2{
    text-align: center;
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

/* CARD */
.card{
    background: #aa0101;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    max-width: 180px;
    margin: auto;
}

.card:hover{
    transform: scale(1.05);
}

/* IMAGEN */
.card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background: black;
}

/* INFO */
.info{
    padding: 10px;
    font-size: 14px;
}

/* OPINIONES */
.opiniones{
    padding: 20px;
    text-align: center;
}

.contenedor-opiniones{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.opinion{
    background: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
    width: 180px;
}

.opinion img{
    border-radius: 50%;
}

/* FOOTER */
footer{
    background: black;
    padding: 20px;
    text-align: center;
}